<head>
    <meta charset="UTF-8">
    <meta name="author" content="szczypiorofix">
    <meta name="copyright" content="szczypiorofix">
    <meta name="publisher" content="szczypiorofix">
    <meta name="description" content="Neptunium Application - PHP website">
    <meta name="language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Neptunium - Application</title>
    <link rel="stylesheet" type="text/css" href="./static/css/index.css">
</head>
