<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    {{ include('template.html', {foo: 'bar'}, with_context = false) }}
    <h1>HOME</h1>
    <div>
        <h2>Data:</h2>
        <div>{{ data }}</div>
    </div>
</body>
</html>