<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neptunium</title>
</head>
<body>
    <h1>Neptunium Application</h1>
    <div>
        <h2>Data:</h2>
        <div>{{ data }}</div>
    </div>
</body>
</html>