<div>
    <p>This is login page</p>
</div>
{% if sessionData %}
    <div>
        <h3>POST DATA</h3>
        <div>
            {% for sessionKey,sessionValue in sessionData %}
                <p>{{ sessionKey }} - {{ sessionValue }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div>
    <div class="form-container">
        {% if formNotification %}
        <div>
            <p></p>
            <span>{{ formNotification.message }}</span>
        </div>
        {% endif %}
        <form action="{{ baseUrl }}/api/login" method="post">
            <div class="input-group">
                <label for="useremail">E-mail:</label>
                <input type="email" id="useremail" name="useremail" required/>
            </div>
            <div class="input-group">
                <label for="userpass">Hasło:</label>
                <input type="text" id="userpass" name="userpass" required/>
            </div>
            <div class="input-group">
                <input type="submit" name="submit-form" value="Loguj" />
            </div>
        </form>
    </div>
</div>
