<div>
    <h1>404 - Page not found</h1>
    <h2>Nie udało się odnaleźć strony</h2>
    <div class="image-container">
        <img src="{{ base_url }}/static/images/404.png" alt="404 page image"/>
    </div>
    <h2>Navigation</h2>
    <div>
        <div>
            <a href="{{ base_url }}">MAIN PAGE</a>
        </div>
    </div>
</div>
