{% if queryData %}
    <div>
        {% for key,value in queryData %}
            <p>{{ key }} : {{ value }}</p>
        {% endfor %}
    </div>
{% endif %}
<div>
    User is {% if not loginData %} NOT {% endif%} logged in.
</div>
<div>
    <div>
        <h1>Panel zarządzania</h1>
    </div>
    <div>
        <h2>Lista serwerów:</h2>
    </div>
    <div>
        <ul>
            <li>
                Minecraft (vanilla) 1.21.1 na Tiktalik
            </li>
            <li>
                Don't Starve Together na Tiktalik
            </li>
        </ul>
    </div>
</div>