@import './variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.image-container {
  max-width: 300px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  form {
    .input-group {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin-bottom: 10px;

      label {
        min-width: 86px;
      }
    }
  }
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  background-color: $alert-primary-background-color;
  color: $alert-primary-color;
  border-color: $alert-primary-border-color;
}

.alert-info {
  background-color: $alert-info-background-color;
  color: $alert-info-color;
  border-color: $alert-info-border-color;
}

.alert-warning {
  background-color: $alert-warning-background-color;
  color: $alert-warning-color;
  border-color: $alert-warning-border-color;
}

.alert-error {
  background-color: $alert-error-background-color;
  color: $alert-error-color;
  border-color: $alert-error-border-color;
}


/** ===== SNACKBAR === */
.snackbar {
  position: relative;

  .close {
    padding: 0;
    position: absolute;
    top: 8px;
    right: 12px;
    button {
      background: transparent;
      border: 2px solid white;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      padding: 3px 6px;
      transition: all 0.2s ease-in-out;
      &:hover {
        border-color: #DDDDDD;
        color: #DDDDDD;
      }
    }
  }
}

.navbar-container {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .navbar {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    overflow: hidden;
    background-color: $navbar-background-color;
    justify-content: flex-start;

    & > * {
      display: block;

      & a {
        color: $navbar-link-color;
        text-decoration: none;
        float: left;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
        background-color: transparent;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        &:hover {
          color: #0056b3;
          background-color: $navbar-hover-background-color;
        }
      }
    }
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.management-panel {
  $card-background-color: #FAFAFA;
  $card-border-color: #F1F1F1;
  $card-main-color: #414141;

  color: $card-main-color;

  .server-list-container {
    ul {
      list-style-type: none;
      padding-left: 0;

      display: flex;
      flex-wrap: wrap;

      li {
        padding: 12px;
        border: 2px solid $card-border-color;
        background-color: $card-background-color;
        border-radius: 3px;
        margin-left: 6px;
        margin-right: 6px;

        & > * {
          margin: 0;
          padding-top: 6px;
          padding-bottom: 6px;
        }

        label {
          font-weight: bold;
        }
      }
    }
  }

}

/** CUSTOM TOGGLE */
.toggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #2196F3;
      &:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

}
